.advantages {
  text-align: center;
  text-transform: uppercase;
}

.advantages__wrapper {
  position: relative;

  padding: 29px 27px 27px 27px;
}

.photo-page .advantages__wrapper {
  padding: 28px 25px 29px 25px;
}

.form-page .advantages__wrapper {
  padding: 28px 20px 18px 20px;
}

.advantages__title {
  margin: 0;

  margin-top: 10px;
  margin-bottom: 29px;

  font-family: "PT Sans Bold", "Arial", sans-serif;
  font-size: 18px;
  line-height: 26px;
}

.photo-page .advantages__title,
.form-page .advantages__title {
  margin-bottom: 28px;

  line-height: 24px;
}

.advantages__text {
  margin: 0;

  line-height: 26px;
}

.photo-page .advantages__text,
.form-page .advantages__text {
  line-height: 24px;
}

.advantages__triangle {
  position: absolute;
  left: 0;
  bottom: -15px;
}

@media (min-width: @tablet-width) {
  .advantages__wrapper {
    width: 490px;
    margin: 0 auto;
    padding: 40px 0 49px 0;

    text-align: center;
  }

  .photo-page .advantages__wrapper {
    padding: 70px 0 67px 0;
  }

  .form-page .advantages__wrapper {
    padding: 67px 0 75px 0;
  }

  .advantages__title {
    margin-bottom: 30px;
    padding: 0 24px;

    font-size: 21px;
    line-height: 26px;
  }

  .photo-page .advantages__title,
  .form-page .advantages__title {
    margin-bottom: 30px;

    font-size: 30px;
    line-height: 26px;
  }

  .photo-page .advantages__text {
    width: 435px;
    text-align: center;
    margin-left: 27px;
  }

  .photo-page .advantages__text span {
    display: block;
  }

  .advantages__triangle {
    display: none;
  }
}

@media (min-width: @desktop-width) {
  .photo-page .advantages__wrapper {
    padding-top: 105px;
  }

  .form-page .advantages__wrapper {
    padding-top: 105px;
    padding-bottom: 57px;
  }
}
