.advantages {
  text-align: center;
  text-transform: uppercase;
}

.advantages__wrapper {
  position: relative;

  padding: 45px 30px 40px 30px;
}

.advantages__title {
  margin: 0;
  margin-bottom: 29px;

  font-family: "PT Sans Bold", "Arial", sans-serif;
  font-size: 18px;
  line-height: 26px;
}

.advantages__text {
  margin: 0;

  font-size: 14px;
  line-height: 26px;
}
