.card {
  margin: 0;
  padding: 0;
  list-style: none;

  border-bottom: 1px solid #e5e5e5;
}

.card:first-child {
  border-top: 1px solid #e5e5e5;
}

.card a {
  display: block;
}

.card__image {
  display: block;
  width: 280px;
  height: 280px;
}

.card__info {
  padding-top: 16px;
}

.card__name {
  display: block;
  margin: 0;

  font-family: "PT Sans Bold", "Arial", sans-serif;
  text-transform: uppercase;
}

.card__icon {
  fill: #b2b2b2;
}

.card__quantity {

  margin-left: 10px;

  font-family: "PT Sans Bold", "Arial", sans-serif;

}

.card__like {
  padding-top: 5px;
}

@media (min-width: @tablet-width) {
  .card {
    border: none;
  }

  .card:first-child {
    border: none;
  }
}
