.control-panel {
  position: absolute;
  bottom: -66px;
  left: 20px;
  display: flex;
  flex-direction: column;

  width: 280px;
  margin: 0 auto;

  background-color: #514c4a;
}

.control-panel__progress-bar {
  padding: 22px 0 21px 0;
}

.control-panel__range {
  -webkit -appearance: none;

  display: block;
  width: 235px;
  height: 3px;

  margin: 0 auto;
  background-color: grey;
}

.control-panel__range::-webkit-slider-thumb {
  -webkit -appearance: none;

  width: 9px;
  height: 9px;
  background: #fff;
  border-radius: 50%;
  cursor: pointer;
}

.control-panel__wrapper {
  display: flex;
  justify-content: flex-start;

  width: 280px;
  margin: 0 auto;
  padding: 20px 0 20px 0;

  background-color: #f2f2f2;
}

.control-panel__replay {
  margin-left: 25px;
  margin-right: 132px;
}

.control-panel__subtitles {
  margin-right: 30px;
}
