.features {
  margin-bottom: 25px;
}
.features__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.features__item {
  position: relative;

  padding: 16px 35px 11px 72px;
}

.features__title {
  margin: 0;
  margin-bottom: 15px;

  font-family: "PT Sans Bold", "Arial", sans-serif;
  font-size: 18px;
  line-height: 26px;

  text-transform: uppercase;
}

.features__text {
  margin: 0;

  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
}

.features__icon {
  position: absolute;
  top: 10px;
  left: 20px;

  width: 38px;
  height: 35px;
  fill: #81b3d2;
}
