.order__sentence {
  width: 280px;
  padding: 0 20px;
  padding-top: 30px;
  padding-bottom: 50px;
  text-align: center;
  text-transform: uppercase;
}

.order__title {
  margin: 0;
  margin-bottom: 20px;

  font-family: "PT Sans Bold", "Arial", sans-serif;
  font-size: 21px;
  line-height: 26px;
}

.order__hotel {
  margin: 0;
  margin-bottom: 33px;
}

@media (min-width: @tablet-width) {
  .order__sentence {
    width: 648px;
    padding: 0 60px;
    padding-top: 58px;
    padding-bottom: 60px;
    text-align: center;
  }

  .order__title {
    margin-bottom: 30px;

    font-size: 30px;
    line-height: 26px;
  }

  .order__hotel {
    margin: 0;
    margin-bottom: 40px;

    text-align: center;
  }

  .order__show {
    display: block;
  }

  .order__button {
    margin: 0 auto;
    width: 460px;
  }
}

@media (min-width: @desktop-width) {
  .order__sentence {
    width: 960px;
    padding: 0 120px;
    padding-top: 58px;
    padding-bottom: 65px;
  }

  .order__hotel {
    margin-bottom: 45px;
  }
}
