.page-footer {
  width: 280px;
  margin: 0 auto;
  padding: 0 20px;

  display: flex;
  flex-direction: column;
}

.page-footer__logo {
  display: block;
  padding-top: 37px;
  padding-bottom: 37px;

  font-family: "PT Sans Bold", "Arial", sans-serif;
  font-size: 21px;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
}
