.page-header {
  position: relative;
  display: flex;
  flex-direction: column;

  background-color: #81b3d2;
}

.page-header__logo {
  display: block;
  width: 100%;
  height: 56px;

  background-color: #ffffff;
}

.page-header__logo-image {
  display: block;
  width: 102px;
  height: 82px;
}

@media (min-width: @tablet-width) {
  .page-header {
    display: block;
    background-color: #ffffff;
  }

  .page-header__logo {
    position: absolute;
    top: 0;
    left: 40%;

    width: 150px;
  }
}
