.promo__text {
  padding: 33px 25px 37px 25px;
}

.promo__title {
  margin: 0;
  margin-bottom: 25px;

  font-family: "PT Sans Bold", "Arial", sans-serif;
  font-size: 18px;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
}

.promo__sentence {
  margin: 0;

  text-align: center;
  text-transform: uppercase;
}


