.reason__text {
  padding: 40px 25px 40px 25px;

  font-size: 14px;
  line-height: 21px;
  color: #ffffff;
  text-align: center;
  text-transform: uppercase;

  background-color: #81b3d2;
}

.reason__title {
  margin: 0;

  font-size: 18px;
  line-height: 26px;
}

.reason__number {
  display: block;

  padding-top: 10px;
  padding-bottom: 12px;
}

.reason__description {
  margin: 0;
}

.reason--first {
  margin-bottom: 25px;
}

.reason_image--first {
  width: 320px;
  height: 260px;

  background-image: url("../img/main-city-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: center 0;
}

.reason_image--second {
  width: 320px;
  height: 260px;

  background-image: url("../img/main-bridge-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: center 0;
}

.reason--third .reason__text,
.reason--fourth .reason__text,
.reason--fifth .reason__text {
  padding: 30px 30px 30px 35px;

  color: #000000;
  background-color: #eeeeee;
}
