.social__list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  width: 151px;
  padding: 0;
  margin: 0 auto;
  margin-bottom: 38px;

  list-style: none;
}

.social__link {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 46px;
  height: 48px;

  background-color: #81b3d2;
}

.social__link svg {
  fill: #ffffff;
}

@media (min-width: @tablet-width) {
  .social__list {
    width: 150px;
    margin: 0;
    margin-left: -5px;
  }
}
