.video {
  margin-bottom: 72px;
}

.video__wrapper {
  position: relative;
}

.video__picture {
  display: block;
}

.control-panel__replay svg,
.control-panel__subtitles svg,
.control-panel__full-srceen svg {
  fill: #5c6870;

  &:hover {
    fill: #333333;
  }

  &:active,
  &:focus {
    fill: #b8b8b8;
  }
}

@media (min-width: @tablet-width) {
  .video {
    margin-bottom: 0;
  }

  .video__wrapper {
    width: 648px;
    padding: 0 60px;
  }

  .video__picture {
    width: 648px;
    height: 499px;
  }

  .control-panel__replay svg,
  .control-panel__subtitles svg,
  .control-panel__full-srceen svg {
    fill: #ffffff;

    &:hover {
      fill: #c2c2c2;
    }

    &:active,
    &:focus {
      fill: #949494;
    }
  }
}

@media (min-width: @desktop-width) {
  .video__wrapper {
    width: 800px;
    margin: 0 auto;
  }

  .video__picture {
    width: 800px;
    height: 499px;
  }
}
